/* Preview */
#preview .title {
    background-color: darkgoldenrod;
}

#preview .view {
    background-color: #403d3d;
}

#preview .btnNotClicked {
    background-color: darkgoldenrod;
}

#preview .btnClicked {
    background-color: green;
}