#export .track select {
    width: 100px;
    height: 22px;
    font-size: 15px;
}

#export .setting {
    width: 100%;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

#export label {
    color: white;
    width: 100px;
    margin-right: 10px;
    font-size: 15px;
}

#export .filename input {
    width: 200px;
    height: 22px;
    font-size: 15px;
}

#export .type input {
    margin-right: 10px;
}

#export .actions button {
    font-size: 14px;
    width: 85px;
    height: 27px;
    background-color: #555456;
    color: white;
    border: 1px solid white;
}

#export .actions button:hover {
    background-color: green;
    color: white;
}