html, body, #root, #app {
  width: max(1240px, 100%);
  height: max(800px, 100%);
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#app {
  background-color: rgba(41,41,41,255);
}

#app .application {
  width: 1240px;
  height: 690px;
  border: 2px solid grey;
}

#app .applicationTitle {
  width: 600px;
  height: 0;
  border-bottom: 35px solid #403d3d;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  text-align: center;
  position: relative;
}

#app .applicationTitle p {
  width: 300px;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 115px;
}

#app .section {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  position: relative;
}

#app .square {
  width: 400px;
  height: 330px;
}

#app .rectangle {
  width: 810px;
  height: 330px;
}

#app .title {
  width: 100%;
  height: 25px;
  color: white;
  background-color: #3a3939;
}

#app .view {
  width: 100%;
  height: 300px;
}

#app .rolling {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 140px;
  left: 175px;
}

#app .redPoint {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 36px;
  right: 6px;
  display: none;
  background-color: red;
  border-radius: 50%;
}

#app .controls {
  width: 100%;
  height: 36px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #3a3939;
}

#app .controls .controlsBtn {
  width: 36px;
  height: 36px;
  cursor: pointer;
  border: none;
  background-color: #3a3939;
}

#camera .controls .btnClicked {
  background-color: rgb(122, 122, 122);
}

#app .controls img {
  width: 16px;
  height: 16px;
}