html, body, #root, #app {
  width: max(1240px, 100%);
  height: max(800px, 100%);
}

#app {
  background-color: rgba(41,41,41,255);
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#app .application {
  width: 1240px;
  height: 690px;
  border: 2px solid grey;
}

#app .applicationTitle {
  width: 600px;
  height: 35px;
  background-color: royalblue;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  border-radius: 25px;
}

#app .section {
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  position: relative;
}

#app .square {
  width: 400px;
  height: 330px;
}

#app .rectangle {
  width: 810px;
  height: 330px;
}

#app .title {
  width: 100%;
  height: 25px;
  background-color: royalblue;
  color: white;
  margin-bottom: 5px;
}

#app .view {
  width: 100%;
  height: 300px;
}

#app .rolling {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 140px;
  left: 175px;
  display: none;
}

#app .redPoint {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 36px;
  right: 6px;
  display: none;
  background-color: red;
  border-radius: 50%;
}

#app .controls {
  width: 98%;
  margin-left: 1%;
  height: 36px;
  position: absolute;
  bottom: 1%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#app .controls .controlsBtn {
  width: 36px;
  height: 36px;
  border-radius: 25%;
  cursor: pointer;
  margin-left: 5px;
}

#app .controls .btnNotClicked {
  background-color: royalblue;
}

#app .controls .btnClicked {
  background-color: green;
}

#app .controls img {
  width: 20px;
  width: 20px;
}

#app .simulation {
  background-color: black;
}

#app .result {
  background-color: #403d3d;
}

#app .timelines {
  background-color: #403d3d;
}

#app .piste {
  width: 96%;
  height: 60px;
  margin-left: 2%;
  display: flex;
  align-items: center;
  flex-direction: row;
}

#app .pisteName {
  width: 9%;
  height: 50px;
  float: left;
  color: white;
}

#app .timeline {
  width: 90%;
  height: 42px;
  border: 1px solid black;
  background-color: #746e6e;
  float: left;
  overflow-x: auto;
  overflow-y: hidden;
}

#app .timeline::-webkit-scrollbar {
  height: 8px;
}

#app .timeline::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#app .timeline::-webkit-scrollbar-thumb {
  background-color: #864f9a;
  border-radius: 25px;
}

#app .timelineOut {
  /* width: 800px; */
  height: 50px;
  border-right: 2px solid black;
  background-color: silver;
}

#app .timelineIn {
  width: 0px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.2);
  border-right: 3px solid black;
  overflow: visible;
  color: white;
  white-space: nowrap;
}

