#camera .title {
    background-color: #cf4040;
}

#camera .view {
    background-color: black;
}

#camera .btnNotClicked {
    background-color: #cf4040;
}

#camera .btnClicked {
    background-color: green;
}